{% extends "base.html" %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}

{% include 'header_menu.html' %}

<div class="panel panel-default">
    <div class="panel-body">
        <blockquote> <h1><font color="#661aff">Who are we?</font></h1></blockquote>
        <blockquote><h2><font color="#2a0080">Entertainment Tonight is designed to help everyone in any city to find an event based on their choosen criteria. It also allows user to to create their own events and share with the world information about the event. Founded in 2017, ET will become your best friend when travelling to new cities!</font></h2></blockquote>

    <ul>
        <li>
            <font color="#808080"> <b>Whether you are looking for an event in a city</b>
        </li><br><br><br>
        <li>
             <b>Whether you are hosting your own event and want to let it be known!</b>
        </li><br><br><br>
        <li>
            <b>Or simply want to expand your horizons in your own city!</b></font>
        </li></blockquote>

</ul></font><br><br><br>
</div>
</div>

 {% include 'footer.html' %}
{% endblock %}