{% extends "base.html" %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}

{% include 'header_menu.html' %}
<div class="panel panel-default">
<div class="panel-body">
    <h1>What is our goal?</h1>
    <h2>To please everyone!</h2>

<font color="white"><h1>What is our goal?</h1>
<h2>To Please everyone!</h2></h1>
<ul>
    <li>
        Whether you are looking for an event in a city
    </li><br><br><br><br>
    <li>
        Whether you are hosting your own event and want to let it be known!
    </li><br><br><br><br>
     <li>
       Or simply want to expand your horizons in your own city!
    </li>
</ul></font><br>Mbr><br><br><br>
</div>
</div>
 {% include 'footer.html' %}
{% endblock %}