<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Create Event:</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% include form_template.html %}
          <div class="form-group">
    <label for="name">Name:</label>
    <input type="name" class="form-control" id="name">
                <br><label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
              <h1>i love marko so much</h1>
  </div>

    </form>
</body>
</html>