<!-- This page is for making the events -->
{% extends "base.html" %}

{% block title %}Entertainment Tonight | Register{% endblock %}

{% block content %}

{% include 'header_menu.html' %}

<div class="panel panel-default">
    <div class="panel-body">
        <h1>Tell use where you are! We want to know what events you have found!</h1>
        <form action="" method="post">
            <img src="{{event.upload_photo.url}}" class="img-responsive">
            {{ form }}
            <button type="submit" class="btn btn-success">Submit</button>
            {% csrf_token %}
        </form><br>

    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
