<!-- This page is for making the events -->
{% extends "base.html" %}

{% block title %}Entertainment Tonight | Register{% endblock %}

{% block content %}

{% include 'header_menu.html' %}

<div class="panel panel-default">
    <div class="panel-body">
        <h1>Tell use where you are! We want to know what events you have found!</h1>

        <form action="" method="post" enctype="multipart/form-data">
            <img src="{{event.upload_photo.url}}" class="img-responsive">
        <!-- form is linked to forms.py and loops through the fields of the event model-->
            <br>{{ form }}<br>
        <br/>
d
            <p><b>Event Type:</b></p>
            <select name="event_type">
                {% for type in types %}
                    <option>{{ type.name }}</option>
                {% endfor %}
            </select><br/><br/>
            <p><b>Event Location:</b></p>
            <select name="event_location">
                {% for city in cities %}
                    <option>{{ city.town_name }}</option>
                {% endfor %}
            </select><br/><br/>
            <button type="submit" class="btn btn-success">Submit</button>
            {% csrf_token %}

        </form><br>

    </div>
</div>
{% include 'footer.html' %}
{% endblock %}