<!-- This page is for making the events -->
{% extends "base.html" %}

{% block title %}Entertainment Tonight | Register{% endblock %}

{% block content %}

{% include 'header_menu.html' %}
    <script xmlns="http://www.w3.org/1999/html">
function preferedLocation() {
    prefer = document.forms[0].browsers.value;
    alert("Is this location correct: " + prefer);
}
</script>

<body>
<div class="panel panel-default">
    <div class="panel-body">
        <blockquote><h1><font color="#3d0099">Share with the world an event  that you have found or and event you are hosting!</font></h1></blockquote></font>





        <form action="" method="post" enctype="multipart/form-data">
            <img src="{{event.upload_photo.url}}" class="img-responsive">
        <!-- form is linked to forms.py and loops through the fields of the event model-->
          <blockquote>{{ form }}</blockquote>



           <blockquote><p><b>Event Type:</b></p>
            <select name="event_type">
                {% for type in types %}
                    <option>{{ type.name }}</option>
                {% endfor %}
            </select><br/><br/>
            <p><b>Event Location:</b></p>
            <select name="event_location" id="browsers" onchange="preferedLocation()">
                {% for city in cities %}

                    <option>{{ city.town_name }}</option>
</blockquote>
                {% endfor %}
            </select><br/><br/>
            <button type="submit" class="btn btn-success">Submit</button>
            {% csrf_token %}

        </form><br>

    </div>
</div>
</body>






{% include 'footer.html' %}
{% endblock %}

