<!-- This page shows the events that are on -->

{% extends "base.html" %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}

{% include 'header_menu.html' %}

<div class="panel panel-default">
    <div class="panel-body">

       <blockquote><h1>Events <small>Here's whats on:</small></h1></blockquote>

        <hr/><br><br>



</div>

        {% if search_events %}

            {% load staticfiles %}

            <p>Welcome! {{ user.get_username }} why don't you tell your friends about the events you like? &nbsp; Please review us:<h1>&#9734;&#9734;&#9734;&#9734;&#9734;</h1></p>
            <a href="https://www.facebook.com/"><img src="{% static "entertainment_tonight/images/fb_logo.png" %}"height=30; width=30; alt="ET logo" align="middle"></a>
              <a href="https://www.twitter.com/"><img src="{% static "entertainment_tonight/images/twitter_logo.png" %}"height=30; width=30; alt="ET logo" align="middle"></a><br>
            <br>
            <p>Found these events:</p>
            <hr/>
            <div class="container">


            {% for search_event in search_events %}
                <a href="delete-event/{{ search_event.id }}">Delete</a>
                <div class="pull-right">
                    <img src="/media/{{ search_event.upload_photo }}"  width="100" height="100"  align="left">
                </div>
                <p class="lead">{{ search_event.event_name }}<br/>
                <small>{{ search_event.event_location }}</small><br/>
                   <p>Date created: <small>{{ search_event.created_at }}</small><br/><p>
            <p>Event date: <small>{{ search_event.event_date}}</small><br/><p>
                    <small>{{ search_event.event_address }}</small><br/>
                <span class="label label-info">{{ search_event.event_type }}</span></p>
                 <small>Posted by:</small> <small>{{ search_event.event_creator }}</small><br/>


                <hr/>
            {% endfor %}

    {% else %}


            <form name="search-event" action="" method="post">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-5">
                        <p class="lead">First, choose your location</p>
                        <div class="form-group">
                            <select  name="location" class="form-control">
                                {% for city in cities %}
                                    <option>{{ city.town_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p class="lead">And what type of event you want</p>
                        <div class="form-group">
                            <select name="type" class="form-control">
                                {% for type in types %}
                                    <option>{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    <div class="pull-right">
                        <input type="submit" class="btn btn-info" value="See Whats On">
                    </div>
                    <br/><br/>
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
            {% csrf_token %}
            </form>
    {% endif %}
    </div>
</div>
{% include 'footer.html' %}

{% endblock %}


<body>
