<!-- This is the home page to my website -->

{% extends "base.html" %}

{% block title %}Entertainment Tonight | Home{% endblock %}

{% block content %}

{% include 'header_menu.html' %}

 {% load staticfiles %}

<br xmlns="http://www.w3.org/1999/html"><br><div class="panel panel-default">
<div class="panel-body">
    <br>  <h3 style="color: #808080"> <blockquote><i>Just arrived in a new city, looking for things to do? Why not search what events are on <br><br><br>Or are you in a city and would you like to tell people about an event near you! <button class="btn btn-primary" onclick="setTimeout(myFunction, 1000);">Did you know?</button></i> </blockquote> </h3>
   <blockquote> <h3 style="color: black;">Whatever your into, you're in the right place!</h3><br></blockquote>


<script>
function myFunction() {
    alert('Over 2.8 billion people travel each year. This website can help you find entertainment in new cities');
}
</script>

    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'event' %}"><img src="{% static "entertainment_tonight/images/event_pic.jpg" %}"height=200; width=100%; alt="ET logo" align="left"></a>&nbsp;
        </div>
        <div class="col-md-4">
            <a href="{% url 'event' %}"><img src="{% static "entertainment_tonight/images/theatre_pic.jpg" %}"height=200; width=100%; alt="ET logo" align="left"></a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'event' %}"><img src="{% static "entertainment_tonight/images/dance_pic.jpg" %}"height=200; width=100%; alt="ET logo" align="left"></a>
        </div>
    </div>
</div>
</div>
<br><br><br><br>
{% include 'footer.html' %}


{% endblock %}